html {
    background-color: white;
    color: #222;
    font-size: small;
    font-family: arial, sans-serif;
}
#logoarea {
    margin-top: 75px;
}
#logo {
    text-align: center;
    padding-top: 110px;
}
#search-area {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    box-shadow: none;
    height: 44px;
    margin: 0 auto;
    width: 482px;
}
#searchbar {
    color: transparent;
    height: 34px !important;
    line-height: 34px;
    flex: 100%;
}
.searchfunction {
    width: 400px;
    border: none;
    font-size: 16px;
    padding: 0;
    position: fixed;
    top: 290px;
    left: 310px;
}
#mag-glass-area {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}
.magglass {
    color: #9AA0A6;
    height: 20px;
    width: 20px;
    margin-top: 3px;
    position: absolute;
    left: 275px;
}
    