html {
    background-color: white;
    color: #222;
    font-size: small;
    font-family: arial, sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li a {
    display: block;
    width: 60px;
}
li {
    float: left;
    display: inline-block;
    padding-left: 15px;
    color: #000000;
    opacity: 0.75;
}
#top-left {
    display: inline-block;
    margin-top: 15px;
}
#top-right {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}
.fixforgmailandimages {
    padding-top: 5px;
}
.signin {
}
#signinstyle {
    color: #fff;
    font-weight: bold;
    background-color: #4285f4;
    outline: none;
    border: 4px solid #4285f4;
    border-radius: 2px;
}
#logoarea {
    margin-top: 50px;
}
#logo {
    text-align: center;
    padding-top: 110px;
}
#search-area {
    display: flex;
    position: relative;
    top: 20px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
    width: 482px;
}
#searchbar {
    color: transparent;
    height: 34px !important;
    line-height: 34px;
    flex: 100%;
}
.searchfunction {
    width: 415px;
    border: none;
    font-size: 16px;
    padding: 0;
    position: relative;
    top: 6px;
    left: 0px;
}
#mag-glass-area {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}
.magglass {
    height: 20px;
    width: 20px;
    margin-top: 7px;
    padding-left: 10px;
}
#two-button-area {
    height: 70px;
    padding-top: 18px;
    position: absolute;
    top: 375px;
    left: 210px;
    width: 483px;
    z-index: 0;
}
.search-button {
    text-align: center;
    display: flex;
    position: relative;
    top: 50px;
    left: 290px;
}
.im-feeling-button {
    text-align: center;
    position: relative;
    right: -60px;
    top: 29px;
}
#fbar {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    font-size: 10pt;
    background: #f2f2f2;
    line-height: 40px;
    min-width: 980px;
    border-top: 1px solid #e4e4e4;
}
.f-right {
    margin-right: 30px;
    float: right;
    white-space: nowrap;
    font-size: 14px;
}
.f-left {
    margin-left: 30px;
    white-space: nowrap;
    font-size: 14px;
}